<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecomerce</title>
    <script src="https://kit.fontawesome.com/89a2ad465b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/main.css">
    <script defer src="../js/main.js"></script>
    <!--El atributo defer es para que lo ejecute una
        una vez se haya cargado el DOM-->
</head>
<body>
    <!--Aplicacion para tener en cuenta que hace
        Falta en casa-->
    <header class="header">
        <nav class="nav_menu">
            <a href="#" class="logo nav_link">logo</a>
            <button class="nav_togle">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav__menu-li">
                <li class="nav__menu-item">
                    <a href="#" class="nav__menu-link nav_link">Home</a></li>
                <li class="nav__menu-item">
                    <a href="#" class="nav__menu-link nav_link">Profile</a></li>
                <li class="nav__menu-item">
                    <a href="#" class="nav__menu-link nav_link">Carrito</a></li>
                <li class="nav__menu-item">
                    <a href="#" class="nav__menu-link nav_link">About</a></li>
            </ul>        
        </nav>

        
    </header>
    <article>
        <div class="title">
            <h1>welcome to Movil Ecomerce</h1>
        </div>
    </article>
    <aside>

    </aside>
    <footer>
        <p>copyrigth for Bussines Giovanni S.C</p>
    </footer>
    
    

</body>
</html>