<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecomerce</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div class="menu"></div>
            <nav>
                <ul class="contenedor_li">
                    <li>Home</li>
                    <li>Profile</li>
                    <li>Carrito</li>
                    <li>About</li>
                </ul>        
            </nav>
        </div>
    </header>
    <article>
        <div class="title">
            <h1>welcome to Movil Ecomerce</h1>
        </div>
    </article>
    <aside>

    </aside>
    <footer>
        <p>copyrigth for Bussines Giovanni S.C</p>
    </footer>
    
    

</body>
</html>